<div class="listing">
  <section *ngIf="filtersForm" class="listing__filter-section">
    <form [formGroup]="filtersForm">
      <div class="listing__filter-container">
        <div
          class="form-group"
          *ngFor="let filter of filterComponentsConfig"
          [ngSwitch]="filter.type"
        >
          <div
            *ngSwitchCase="FilterComponentTypeEnum.SEARCH_BAR"
            class="listing__filter--search"
          >
            <input type="text" [formControlName]="filter.name" />
          </div>
        </div>
      </div>
    </form>
  </section>

  <section
    showLoader
    [isLoading]="loadingService.isLoading$ | async"
    class="listing__listing-section"
  >
    <ng-container #loaderPlaceholder></ng-container>
    <ng-container *ngIf="errorService.errorMessage$ | async as errorMessage">
      <div class="listing__listing-error">{{ errorMessage }}</div>
    </ng-container>
    <ng-container
      *ngIf="listing$ | async as listing"
      [ngSwitch]="listingConfig.containerType"
    >
      <div *ngIf="listing && listing.items" class="listing__listing-container">
        <div
          *ngSwitchCase="ListingContainerTypeEnum.TILE"
          class="listing__listing--tile"
        >
          <div class="listing__item" *ngFor="let item of listing.items">
            <ng-container
              [ngTemplateOutlet]="listingItem || defaultListingItem"
              [ngTemplateOutletContext]="{ $implicit: item }"
            ></ng-container>
          </div>
        </div>
        <div
          *ngSwitchCase="ListingContainerTypeEnum.TABLE"
          class="listing__listing--table"
        >
          <div class="listing__item" *ngFor="let item of listing.items">
            <ng-container
              [ngTemplateOutlet]="listingItem || defaultListingItem"
              [ngTemplateOutletContext]="{ $implicit: item }"
            ></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
  <ng-container *ngIf="listing$ | async as listing">
    <shared-paginator
      *ngIf="listing.pageNumber && listing.totalItemsCount"
      [paginatorConfig]="paginatorConfig"
      [pageNumber]="listing.pageNumber"
      [totalItemsCount]="listing.totalItemsCount"
      (pageChanged)="onPageChange($event)"
    ></shared-paginator>
  </ng-container>
</div>
<ng-template #defaultListingItem>
  <p>No ListingItem template provided.</p>
</ng-template>
